@{
    ViewData["Title"] = "Login Page";
}

@model session_05.Models.LoginModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="form-group">
                            <label asp-for="username" class="control-label"></label>
                            <input asp-for="username" class="form-control" />
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="password" class="control-label"></label>
                            <input asp-for="password" class="form-control" type="password" />
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
