@{
    ViewData["Title"] = "Contact Page";
    
}

<div class="text-center">
    
    <h1 class="display-4">Contact Us</h1>
    <p>For any queries, please contact us at <a href="mailto:contact@firstmvc_v1.com">contact@firstmvc_v1.com</a>.</p>
</div>